.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #000444;
}

.logo {
  background: url(./assets//logo.png) no-repeat;
  background-size: contain;
  width: 300px;
  height: 300px;
  margin-top: 20%;
}

.desc {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: bold;
}

.text {
  margin: 2px 0;
  font-size: 1.1rem;
  color: rgb(153, 243, 189);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28df99;
  width: 50%;
  height: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(00, 00, 44);
  border-radius: 5px;
  text-decoration: none;
  margin-top: 15%;
}
